@import 'tailwindcss';

*{
  font-family: "Montserrat", sans-serif;
}

.animate-pulse {
  animation: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animation-delay-2000{
  animation-delay: 2s;
}

.animation-delay-3000{
  animation-delay: 3s;
}

.animate-fade-in{
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to{
    opacity: 1;
    transform: translateY(10px);
  }
}